h2.followMeBar: a(href='#intro') Introduction

p Acolytes is a multi-game guild that began in 2005 with Age of Conan and over the years has expanded in a multitude of games across the entire gaming spectrum with chapters in World of Warcraft: Classic, Retail World of Warcraft, Elder Scrolls Online, Archeage, Everquest, and more.

p The WoW Classic chapter currently operates on the Atiesh server (PvE US-West) and is a progression raiding guild with the goal of quickly and efficiently tackling content while having as much fun as possible along the way. We have 3 planned raids once TBC gets up and running.<br><br>

.panel.panel-default(style="border:2px solid #975d82; background-color:rgba(151,93,130,0.2)")
    .panel-heading(style="background-color:rgba(151,93,130,0.2)"): strong Nexus Raid
    table.table
        tr
            td Open roster raid team - <i>description and focus will be written by the raid leader when they are set.</i> <br><br>
                | To attend this raid, simply make sure any character you wish to attend on has been approved in the #wow_raid_applications channel in Discord<br><br>
                table
                    tr 
                        td(style="padding-right:15px")
                            strong Raid Leaders<br>
                            span TBD - Rimbosa/Curse/Other <br>
                        td
                            strong Raid Times (subject to change)<br>
                            span Friday/Sunday 6:30-9:30pm ST <br>
            td(style="text-align:right").hidden-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/nexus.png" style="width:90px")
            td(style="text-align:right").visible-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/nexus.png" style="width:50px")

.panel.panel-default(style="border:2px solid #7269b5; background-color:rgba(114,105,181,0.2)")
    .panel-heading(style="background-color:rgba(114,105,181,0.2)"): strong Void Raid
    table.table
        tr
            td Open roster raid team - <i>description and focus will be written by the raid leader when they are set.</i> <br><br>
                | To attend this raid, simply make sure any character you wish to attend on has been approved in the #wow_raid_applications channel in Discord<br><br>
                table
                    tr 
                        td(style="padding-right:15px")
                            strong Raid Leaders<br>
                            span Darq/Hateries <br>
                        td
                            strong Raid Times (subject to change)<br>
                            span Wednesday/Thursday 7:30-10:30pm ST <br>
            td(style="text-align:right").hidden-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/void.png" style="width:90px")
            td(style="text-align:right").visible-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/void.png" style="width:50px")

.panel.panel-default(style="border:2px solid #85B7CE; background-color:rgba(133, 183, 206,0.2)")
    .panel-heading(style="background-color:rgba(133, 183, 206,0.2)"): strong Abyss Raid
    table.table
        tr
            td Fixed roster raid team with higher than average raider requirements focused on progression and efficiency. This team is not open to non-Acolyte raiders but all of our other raids are. <i>The rest of this description will be written by the raid leader when they are set.</i> <br><br>
                | To join this team please review the <a href="https://dkp.acolytesgaming.org/data/files/codex/abyss-requirements.html" target="_blank">Abyss Specific Requirements</a> and contact a leader.<br><br>
                table
                    tr 
                        td(style="padding-right:15px")
                            strong Raid Leaders<br>
                            span Zeldaya/Noknok <br>
                        td
                            strong Raid Times (subject to change)<br>
                            span Tuesday/Thursday 6:30pm-9:30pm ST <br>
            td(style="text-align:right").hidden-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/abyss.png" style="width:90px")
            td(style="text-align:right").visible-xs: img(src="https://dkp.acolytesgaming.org/data/files/codex/img/abyss.png" style="width:50px")


p This reference document contains information pertaining to raiding with Acolytes that should be helpful to all players. <br>
  em For questions/comments/concerns regarding this document, please contact Curse (Curse#3793) on #[a(href='https://discord.gg/YAuWqW6Ceq' target='_blank') discord]

hr

h2.followMeBar: a(href='#important-links') Important Links

p: a(href='https://discord.gg/YAuWqW6Ceq' target='_blank') Acolytes Community Discord </a><br> 
  | Apply for Classic WoW or any of the other games Acolytes are in via Discord. 99% of our communication happens through Discord.

p: a(href='https://dkp.acolytesgaming.org' target='_blank') DKP Roster/Calendar </a><br>
  | Create an account, link your characters and begin signing up for raids and tracking your dkp!

p: a(href='https://github.com/Curse-Atiesh/raid-primer/commits/master' target='_blank') Codex Revision History </a><br>
  | See every revision made to this codex since converting it to a git repo.

hr

h2.followMeBar: a(href='#addons') Required Addons

p: a(href='https://github.com/Curse-Atiesh/AcoBid/releases/latest' target='_blank') AcoBid</a><br>
  | Our proprietary raiding addon. This link will always take you to the most up-to-date version of the addon. 
  
p: a(href='https://www.curseforge.com/wow/addons/threatclassic2/files' target='_blank') ThreatClassic2</a> / <a href="https://www.curseforge.com/wow/addons/details/files" target="_blank">Details! Tiny Threat</a><br>
  | Threat management is the most important element of Classic WoW raiding. We require everyone have one of these 2 meters.
  
p: a(href='https://www.curseforge.com/wow/addons/deadly-boss-mods/files' target='_blank') Deadly Boss Mobs (DBM) </a><br>
  | This addon suite provides timers and notices for raid encounters and must be updated regularly
  
p: a(href='https://www.curseforge.com/wow/addons/exorsus-raid-tools/files' target='_blank') Exorsus Raid Tools </a><br>
  | ExRT is our primary assignments and raid management tool. It is required for all raiders.

p: a(href='https://www.curseforge.com/wow/addons/healcommclassic/files' target='_blank') HealComm </a><br>
  | Healcomm is a predictive healing addon/library that allows other members of the raid to see incoming healing across the raid. If you use a unit frame replacement addon you probably already have healcomm built in. To check, use the follwing command in-game (it will return your version of healcomm in the chat window if you have it, nothing if you do not)<br>
  code /run for k in LibStub:IterateLibraries() do if string.match(string.lower(k),"healcomm") then print(k) end end

hr

h2.followMeBar: a(href='#register') How to Register

p All raiders need to sign up at our roster site. In addition to tracking points for DKP raiders, it serves as both our calendar for raid sign ups as well as our roster.

.row
  .col-md-6: h4
    strong Step 1: 
    | Go to <a href="https://dkp.acolytesgaming.org/" target="_blank">dkp.acolytesgaming.org</a> and click on the register button in the upper left hand corner the screen.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/1.png')
.row
  .col-md-6: h4
    strong Step 2: 
    | On the following screen fill out the required fields and press submit.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/2.png')
.row
  .col-md-6: h4
    strong Step 3: 
    | Check your registration e-mail account for the confirmation e-mail and follow the instructions. <font color="red">If you do not receive a confirmation e-mail, please contact an Officer and request manual confirmation.</font>
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/3.png')
  .row
  .col-md-6: h4
    strong Step 4: 
    | Once your account is confirmed and you’ve logged into the site, click the "Characters" link in the upper left hand corner. From the Characters page you can click "Add Character>Create New". If you've already attended a DKP raid with Acolytes your character may already exist; if this is the case for you, contact an officer to link your character to your account.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/4.png')

hr

h2.followMeBar: a(href='#guild-ranks') Guild Ranks

.panel.panel-default.media(style="border:2px solid #474747;background:rgba(71,71,71,0.1)")
    .media-left(style="padding:0 0 5px 15px")
        img(style="width:50px" src="https://dkp.acolytesgaming.org/data/files/codex/img/rank1.png")
    .media-body.panel-body
        h4.media-heading: strong Neophyte
        span Alt Characters

.panel.panel-default.media(style="border:2px solid #1C436C;background:rgba(28,67,108,0.1)")
    .media-left(style="padding:0 0 5px 15px")
        img(style="width:50px" src="https://dkp.acolytesgaming.org/data/files/codex/img/rank2.png")
    .media-body.panel-body
        h4.media-heading: strong Initiate
        span Trial rank held for 2 weeks or until approved<br>
        i(style="opacity:0.25") (you die first)

.panel.panel-default.media(style="border:2px solid #6B4123;background:rgba(107,65,35,0.1)")
    .media-left(style="padding:0 0 5px 15px")
        img(style="width:50px" src="https://dkp.acolytesgaming.org/data/files/codex/img/rank3.png")
    .media-body.panel-body
        h4.media-heading: strong Acolyte
        span Rank for being an active member of the guild<br>
        i(style="opacity:0.75") (max of 2 Acolyte ranks per player)

.panel.panel-default.media(style="border:2px solid #71201E;background:rgba(113,32,30,0.1)")
    .media-left(style="padding:0 0 5px 15px")
        img(style="width:50px" src="https://dkp.acolytesgaming.org/data/files/codex/img/rank4.png")
    .media-body.panel-body
        h4.media-heading: strong Deathbringer
        span Rank achieved by earning 2500+ lifetime DKP!<br>
        i(style="opacity:0.75") (max of 1 Deathbringer rank per player)

.panel.panel-default.media(style="border:2px solid #48345A;background:rgba(72,52,90,0.1)")
    .media-left(style="padding:0 0 5px 15px")
        img(style="width:50px" src="https://dkp.acolytesgaming.org/data/files/codex/img/rank5.png")
    .media-body.panel-body
        h4.media-heading: strong Name Me<font style="color:red;font-size:1.4em">!</font>
        span Guild Leadership Rank. New name chosen every month!<br>
        font(color="red") Every month we'll hold an auction for the ability to rename the guild leadership rank to whatever you want* AND redesign the guild tabard. <b>ALL GOLD</b> will go to the guild bank and be used to provide consumables from the guild vault weekly!<br><br>
        i(style="opacity:0.75") *Guild rank names have a maximum of 15 characters per game limitations and must follow all Acolytes Community Guidelines. Yes we are aware this will blow up in our faces...

hr

h2.followMeBar: a(href='#raid-approval') Raid Approval

.row
    .col-md-6
        p Before bringing a character to a current content raid you simply need to post a raid application in the #wow_raid_applications channel in Discord. This is our way of quickly screening the readiness of new characters inside or outside of guild. In order to be approved, your character must meet the <a href="https://dkp.acolytesgaming.org/data/files/codex/base-requirements.html" target="_blank">Base Raiding Requirements</a> for your class/spec.

        p In your raid application post you are required to post a screenshot of your character pane with the appropriate stats shown for your class/spec, a link to your spec, and any additional information you think we might need to approve your character.

        p <a href="https://seventyupgrades.com/" target="_blank">Seventyupgrades</a> or <a href="https://tbc.wowhead.com/talent-calc" target="_blank">WoWhead character planner</a> are both good options for sharing gear and talents.
    .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/6.png')

hr

h2.followMeBar: a(href='#raid-sign-up') Raid Sign Up

p Raid invites are based on signups on the calendar. The only way to get onto the automatic invites list is to be signed up and on-time.

.row
  .col-md-6: h4
    li Check the Notes about an event on the calendar before signing up.
    li Select your Character & Role, add any notes the raid leaders may need to know ahead of time.
    li Select your status. Approved Characters can signup as "Signed Up", All others should sign as "Backup"<br><br>
    span If there are multiple raid teams running the same raid in a given week, you do not need to Sign-Off from the other teams if you Signed-Up for another. Conversely if you know you can't make any raids at all during a week, it would help us out a lot if you Sign-Off of each raid teams events...though this is of course not mandatory.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/5.png')

hr

h2.followMeBar: a(href='#earning') DKP Earning

p Show up on-time and prepared to regularly scheduled raids and earn DKP based on the content cleared.

p The amount of DKP a raid night is worth will be 40 DKP divided by the number of raid nights in that given week. So if we have 2 raid nights, each will be worth 20 DKP. This total DKP/week may change as content progresses and we need to adjust but will always hover around 40 DKP.

p DKP earned based on roster is as follows:
table.table.table-bordered
    tr 
        td
            li Confirmed rostered players
            li Confirmed on-call players
            li Signed-Up unconfirmed players
            li Backup players
        td(style="vertical-align: middle")
            <b class="text-success">100% DKP</b>
    tr 
        td
            li Signed-Off Players
            li No Response to the calendar
            li Confirmed rostered players who no-show on raid day
            li Confirmed on-call players who no-show on raid day
            li Backup players who are unreachable if needed
        td(style="vertical-align: middle")
            <b class="text-danger">0% DKP</b> 

hr

h2.followMeBar: a(href='#decay') DKP Decay

.row
    .col-md-6
        p Each weekly reset, <u>all</u> characters incur an automatic 10% decay on their current DKP total. This policy has numerous advantages for active raiders which we believe results in a more healthy guild economy.
        ul 
            li Increases the value of recent raiding
            li Promotes healthy spending & discourages hoarding<br><br>
            li Eliminates DKP inflation
            li Allows new members to integrate into our system
            li Automatic inactive raider depreciation
        
        details 
            summary Nerdy Details
            p Every <code>Tuesday at 00:00 Server Time</code> eqDKP will run an Automatic Point Adjustment (APA) against every characters total <b>current</b> DKP. APAs do not directly change your DKP value, but make a secondary calculation which you see on the website. If for some reason an error occurs, all of your original DKP information still exists and these APAs can be recalculated with no risk of destroying data.

            p DKP Decay results in an artificial point cap. This means that the total possible DKP has rough ceiling based on the average DKP earned per week and the rate of decay. You can see by the graph we've supplied that our artificial point cap can only be reached by spending 0 DKP over the course of nearly a year. 

            p The specific formula we are using for our flat 10% decay is as follows:
            pre POINTS = (PLAYER_CURRENT_POINTS > 0) ? (PLAYER_CURRENT_POINTS*0.9) : PLAYER_CURRENT_POINTS<br>
            i or simply put, if your DKP is greater than 0 subtract 10% else return your current value.<br><br>
            span For more information on how APAs work you can check out the <a href="https://wiki.eqdkp-plus.eu/wiki/Auto_Point_Adjustments_(APA)" target="_blank">eqDKP documentation</a>
                    
    .col-md-6: .panel.panel-default: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/decay.png')

hr

h2.followMeBar: a(href='#bidding') DKP Bidding
.row
  .col-md-6: h4 When an item is placed up for bidding it will appear in the <code>/bids</code> window in AcoBid. This window should automatically appear when an auction has started.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/bid1.png')
  
.row
  .col-md-6
    h4 Click on the item to open the bidding window for that item. Fill out the fields and click Send Bid.
    h5 (You have until the timer reaches 0 to change your bid - simply send a bid again to overwrite the previous bid. To cancel a bid simply send a value of 0)

    strong Minimum bids are as follows:
    ul
        li Current Tier - 10 DKP
        li Previous Tier/OFF-SPEC - 5 DKP

    p: strong Spec Choices:
    table.table.table-bordered
      tr
        td MAIN-SPEC
        td Items you will use in your primary raiding spec in the <u>majority</u> of ordinary combat
      tr
        td OFF-SPEC
        td Items you will use in a secondary raiding spec or for limited use fights such as resistance gear.
      tr
        td PVP/FARMING/MISC
        td Items you won't use during raid.
      tr
        td UNCONTESTED-ONLY
        td Items you would pass to all other bidders and just don't want to see rot
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/bid2.png')
  
.row
  .col-md-6
    h4 When the timer runs out, the loot master will review the bids and announce the winner and the amount paid. The bids are viewable only to the master looter. The price paid is equal to the next highest bidder of equal priority plus the minimum bid or the amount bid; whicher is lower.<br><br>
    details 
        summary Examples
        p
            strong Example 1<br>
            span Player A bids 51 DKP<br>
            span Player B bids 50 DKP<br>
            span.text-success Player A wins for 51 DKP<br><br>
            strong Example 2<br>
            span Player A bids 350 DKP<br>
            span Player B bids 10 DKP<br>
            span.text-success Player A wins for 20 DKP<br><br>
            strong Example 3 (double drop)<br>
            span Player A bids 75 DKP<br>
            span Player B bids 45 DKP<br>
            span Player C bids 15 DKP<br>
            span.text-success Players A and B win for 25 DKP each<br><br>
            strong Example 4 (roll off)<br>
            span Player A bids 35 DKP<br>
            span Player B bids 35 DKP<br>
            span.text-success Players A and B roll, winner pays 35 DKP
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/codex/img/bid3.png')

hr

h2.followMeBar: a(href='#group-loot') Group Loot

p If the Master Looter in a DKP raid decides that looting would be more efficient via Group Loot over Master Loot they may choose to set the loot type to Group Loot. When this happens there is only 1 rule to follow to avoid confusion: You may safely select <b>GREED</b> for any loot window that appears for you. Anyone who has a specific task to need on an item (such as scarabs/idols/etc) will do so and it will override your greed. The best way to stay out of trouble in group loot is to greed on everything.

hr

h2.followMeBar: a(href='#soft-reserve') Soft Reserve

p For 10 player content (Karazhan and Zul’Aman) we will use Soft Reserve (via <a href="https://softres.it/" target="_blank">softres.it</a>) instead of DKP. Here are our Soft Reserve loot guidelines:

ul 
    li Reserves are to be locked upon first boss pull.
    li Late arrival reserves are up to the Raid Organizer's discretion.
    li Limit 1 Soft Reserved item per player.
    li Non-reserved loot is rolled Need > Greed with a limit of 1 Need and 1 Greed win per player.
    li If a non-reserved item has no eligible Need/Greed rolls it is open rolled before it gets Disenchanted.
    li Disenchanted materials and BoEs should be rolled out after raid.

hr

h2.followMeBar: a(href='#legendaries') Legendary Loot

table.table.table-bordered
  tr
    td(width="40%"): strong <a href="https://tbc.wowhead.com/?item=32458" target="_blank" data-wowhead="item=32458"> [Ashes of Al'ar]</a>
    td Ashes will be a straight up roll for anyone who has raided with Acolytes in current tier content at least 7 out of the last 10 weeks when the mount drops.
  tr
    td: strong <a href="https://tbc.wowhead.com/?item=32837" target="_blank" data-wowhead="item=32837"> [Warglaive of Azzinoth]</a><br><a href="https://tbc.wowhead.com/?item=32838" target="_blank" data-wowhead="item=32838"> [Warglaive of Azzinoth]</a>
    td After winning the first Warglaive via DKP bidding (minimum bid starts at 100 DKP), the second Warglaive (opposite hand) will be reserved for a fixed price of 100 DKP. These pairings will be fulfilled in the order they were recieved.<br><br>
        ol
            li: i Player A wins main hand Warglaive for 372 DKP
            li: i Player B wins main hand Warglaive for 395 DKP
            li: i Player A wins off hand Warglaive for 100 DKP
            li: i Player B wins off hand Warglaive for 100 DKP
            li: i Player C wins off hand Warglaive for 324 DKP
            li: i Player C wins main hand Warglaive for 100 DKP
  tr
    td: strong <a href="https://tbc.wowhead.com/?item=34334" target="_blank" data-wowhead="item=34334"> [Thori'dal, the Stars' Fury]</a>
    td <strong>hUNteR wAep0n!</strong> Hunters will have priority on this item - but it will have a minimum DKP value of 100 DKP. After the Hunters have them or if they pass, anyone else is free to bid on it.

hr

h2.followMeBar: a(href='#leaving-guild') Leaving Guild

p <i>Any individual who leaves the guild on their main for any length of time must re-apply and pass the standard trial period should they wish to return.</i>

p If a player leaves the guild, <b>with less than 7 days advance notice</b> to an officer/class leader, they <b> forfeit all earned DKP</b>.  Should they choose to reapply they will begin at 0 DKP.

p If a player leaves the guild, <b>with 7 or more days notice</b> to an officer/class leader, they will lose DKP at the standard rate of decay.
