h2: a(href='#intro') Introduction

p Acolytes is a multi-game guild that began in 2005 with Age of Conan and over the years has expanded in a multitude of games across the entire gaming spectrum with chapters in World of Warcraft: Classic, Retail World of Warcraft, Elder Scrolls Online, Archeage, Everquest, and more.

p The WoW Classic chapter currently operates on the Atiesh server (PvE US-West) and is a progression raiding guild with the goal of quickly and efficiently tackling content while having as much fun as possible along the way.

p We currently operate two different raid groups on a weekly basis.<br>
  strong: span.label.label-primary Raid Blue
  |  - Tuesday/Thursday/Sunday 6:30pm-9:30pm server time.<br>
  strong: span.label.label-warning Raid Orange
  |  - Wednesday/Friday/Monday 6:30pm-9:30pm server time.

p This reference document contains information pertaining to raiding with Acolytes that should be helpful to all players. <br>
  em For questions/comments/concerns regarding this document, please contact Curse (Curse#3793) on #[a(href='https://discord.gg/bpv72Z' target='_blank') discord]

h2: a(href='#important-links' target='_blank') Important Links

p: a(href='https://discord.gg/bpv72Z' target='_blank') Acolytes Community Discord </a><br> 
  | Apply for Classic WoW or any of the other games Acolytes are in via Discord. 99% of our communication happens through Discord.

p: a(href='https://dkp.acolytesgaming.org' target='_blank') DKP Roster/Calendar </a><br>
  | Create an account, link your characters and begin signing up for raids and tracking your dkp!

p: a(href='https://github.com/Curse-Atiesh/AcoBid/releases/latest' target='_blank') AcoBid Addon </a><br>
  | Our proprietary raiding addon. This link will always take you to the most up-to-date version of the addon. 

p: a(href='https://classicguildbank.com/#/user/invite/qCKgtVP0SDrdbG7ARPoQ' target='_blank') Guild Bank site </a><br>
  | Although Classic WoW has no official guild banks, we upload the contents of our guild bank characters to this CGB platform for easy viewing and accountability.

p: a(href='https://github.com/Curse-Atiesh/raid-primer/commits/master' target='_blank') Primer Revision History </a><br>
  | See every revision made to this primer since converting it to a git repo.

h2: a(href='#sign-up') How to Sign Up

p All raiders need to sign up at our roster site. In addition to tracking points for DKP raiders, it serves as both our calendar for raid sign ups as well as our roster.

.row
  .col-md-6: h4
    strong Step 1: 
    | Go to dkp.acolytesgaming.org and click on the register button in the upper left hand corner the screen.
  .col-md-6: img(src='https://lh5.googleusercontent.com/zXI5NkF4R-HdzK6juDAWNWVsBAHEDJI3InOmnIsiq-Sa9S8C8qeb71R72ZLCGUV_D2cKsyC21DCRKvfNk2ynS7BzKNeU-YzKRLnSNnzEgm-07LCD7laXFLG1ie0ZBYRC1bM-HeEFn8I')
.row
  .col-md-6: h4
    strong Step 2: 
    | On the following screen fill out the required fields and press submit.
  .col-md-6: img(src='https://lh5.googleusercontent.com/GD5kAPzYcP-w9P0C5PG5UIDwDZ_1TjiwzKAjW_OER_RGgLbNlPP2tUndAg6xSKD1jSTBEfwv-sgFLh37p42axG-Ec2DR_gRI6sSvFehk8cNeWNASzR8g9CooR2Yt_jqOocTwBBa9YX0')
