h2: a(href='#intro') Introduction

p Acolytes is a multi-game guild that began in 2005 with Age of Conan and over the years has expanded in a multitude of games across the entire gaming spectrum with chapters in World of Warcraft: Classic, Retail World of Warcraft, Elder Scrolls Online, Archeage, Everquest, and more.

p The WoW Classic chapter currently operates on the Atiesh server (PvE US-West) and is a progression raiding guild with the goal of quickly and efficiently tackling content while having as much fun as possible along the way.

b We currently raid Tuesday/Thursday 6:30pm-9:30pm server time.

p This reference document contains information pertaining to raiding with Acolytes that should be helpful to all players. <br>
  em For questions/comments/concerns regarding this document, please contact Curse (Curse#3793) on #[a(href='https://discord.gg/YAuWqW6Ceq' target='_blank') discord]

h2: a(href='#important-links') Important Links

p: a(href='https://discord.gg/YAuWqW6Ceq' target='_blank') Acolytes Community Discord </a><br> 
  | Apply for Classic WoW or any of the other games Acolytes are in via Discord. 99% of our communication happens through Discord.

p: a(href='https://dkp.acolytesgaming.org' target='_blank') DKP Roster/Calendar </a><br>
  | Create an account, link your characters and begin signing up for raids and tracking your dkp!

p: a(href='https://github.com/Curse-Atiesh/raid-primer/commits/master' target='_blank') Primer Revision History </a><br>
  | See every revision made to this primer since converting it to a git repo.
  
h2: a(href='#addons') Required Addons

p: a(href='https://github.com/Curse-Atiesh/AcoBid/releases/latest' target='_blank') AcoBid</a><br>
  | Our proprietary raiding addon. This link will always take you to the most up-to-date version of the addon. 
  
p: a(href='https://www.curseforge.com/wow/addons/threatclassic2/files' target='_blank') ThreatClassic2</a> / <a href="https://www.curseforge.com/wow/addons/details/files" target="_blank">Details! Tiny Threat</a><br>
  | Threat management is the most important element of Classic WoW raiding. We require everyone have one of these 2 meters.
  
p: a(href='https://www.curseforge.com/wow/addons/deadly-boss-mods/files' target='_blank') Deadly Boss Mobs (DBM) </a><br>
  | This addon suite provides timers and notices for raid encounters. And must be updated regularly
  
p: a(href='https://www.curseforge.com/wow/addons/exorsus-raid-tools/files' target='_blank') Exorsus Raid Tools </a><br>
  | ExRT is our primary assignments and raid management tool. It is required for all raiders.

p: a(href='https://www.curseforge.com/wow/addons/healcommclassic/files' target='_blank') HealComm </a><br>
  | Healcomm is a predictive healing addon/library that allows other members of the raid to see incoming healing across the raid. If you use a unit frame replacement addon you probably already have healcomm built in. To check, use the follwing command in-game (it will return your version of healcomm in the chat window if you have it, nothing if you do not)<br>
  code /run for k in LibStub:IterateLibraries() do if string.match(string.lower(k),"healcomm") then print(k) end end

h2: a(href='#register') How to Register

p All raiders need to sign up at our roster site. In addition to tracking points for DKP raiders, it serves as both our calendar for raid sign ups as well as our roster.

.row
  .col-md-6: h4
    strong Step 1: 
    | Go to dkp.acolytesgaming.org and click on the register button in the upper left hand corner the screen.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/1.png')
.row
  .col-md-6: h4
    strong Step 2: 
    | On the following screen fill out the required fields and press submit.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/2.png')
.row
  .col-md-6: h4
    strong Step 3: 
    | Check your registration e-mail account for the confirmation e-mail and follow the instructions. If you do not receive a confirmation e-mail, please contact an Officer and request manual confirmation.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/3.png')
  .row
  .col-md-6: h4
    strong Step 4: 
    | Once your account is confirmed and you’ve logged into the site, click the "Characters" link in the upper left hand corner. From the Characters page you can click "Add Character>Create New". If you've already attended a DKP raid with Acolytes your character may already exist; if this is the case for you, contact an officer to link your character to your account.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/4.png')


h2: a(href='#raid-sign-up') Raid Sign Up

p Raid invites are based on signups on the calendar. The only way to get onto the automatic invites list is to be signed up and on-time.

.row
  .col-md-6: h4
    li Check the Notes about an event on the calendar before signing up.
    li Select your Character & Role, add any notes the raid leaders may need to know ahead of time.
    li Select your status. Main characters and Raid-Ready Alt swaps may sign up with the status "Signed Up", <b>Normal Alts should sign up as backup</b>
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/5.png')
  
  
h2: a(href='#earning-dkp') Earning DKP

p Show up on-time and prepared to regularly scheduled raids and earn DKP based on the content cleared.

p In phase 6 of vanilla we are awarding a total of 36 DKP per week split evenly between raid nights.

h2: a(href='#dkp-pools') DKP Pools Explained

p Each <b>ACCOUNT</b> has both a Main DKP and an Alt DKP pool.

strong Main DKP
p DKP that is usable by your main character and only your main character. It can be earned by raiding on your main or an approved raid-ready alt in previous tier content.

strong Alt DKP
p DKP that is <u>shared between all of your alts</u> and spendable while raiding on an alt. Earn Alt DKP when attending a raid on an alt that is not swapping for a main as raid-ready.

p If the raid leader requests that you bring an alt, you may choose to earn Main DKP for that raid instead, but your Alt will still spend from its own pool.

h2: a(href='#rosters') Rotating Roster

p Rosters will be decided upon at the begining of the week and are based entiely upon making sure everyone has roughly equal play time and so that no player in a given role sits twice before any player in that role sits once.

p DKP earned for rotating rosters will be as follows:
ul
  li Confirmed rostered players earn <b>100% DKP</b>
  li Confirmed on-call players earn <b>100% DKP</b>
  li Signed-Up unconfirmed players earn <b>100% DKP</b>
  li Backup players earn <b>100% DKP</b>
  li Signed-Off players earn <b>50% DKP</b>
  li No Response to the calendar earns <b>0 DKP</b>
  li Confirmed rostered players who no-show on raid day earn <b>0 DKP</b>
p This means you earn half dkp for just responding to the calendar no-matter what. This is so we can ensure people respond on-time which gives us the time we need to build a fair roster rotation for the week.

p: b Which sign-up status do I choose?
ul
  li If you want to raid, no matter how many times you've already raided in a given cycle, sign up as "Signed-Up"
  li If you cannot make raid or simply do not want to raid, choose "Signed-Off"
  li If you are available if needed but would rather not raid, choose "Backup"
b There is no need to self-regulate your signups, the system will do that for you. Most people should be using "Signed-Up".

h2: a(href='#bidding') DKP Bidding

p In order to bid on items in DKP raid you must have the AcoBid Addon installed and up-to-date.

.row
  .col-md-6: h4 When an item is placed up for bidding it will appear in the /bids window in AcoBid.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/bid1.png')
  
.row
  .col-md-6
    h4 Click on the item to open the bidding window for that item. Fill out the fields and click Send Bid.
    h5 (You have until the timer reaches 0 to change your bid - simply send a bid again to overwrite the previous bid)
    strong Spec Choices:
    table.table.table-bordered
      tr
        td MAIN-SPEC
        td Items you will use in your primary raiding spec in the <u>majority</u> of ordinary combat
      tr
        td OFF-SPEC
        td Items you will use in a secondary raiding spec or for limited use fights such as resistance gear, tank diamond flask gear, etc.
      tr
        td ALT-MAIN-SPEC
        td The same as MAIN-SPEC but for alts <u>in raid</u>
      tr
        td ALT-OFF-SPEC
        td The same as OFF-SPEC but for alts <u>in raid</u>
      tr
        td PVP/FARMING/MISC
        td Items you won't use during raid such as diamond flask gear for dps warriors, Vanquished Tentacle of C'Thun, etc.
      tr
        td UNCONTESTED-ONLY
        td Items you would pass to all other bidders and just don't want to see rot
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/bid2.png')
  
.row
  .col-md-6: h4 When the timer runs out, the loot master will review the bids and announce the winner and the amount paid. The bids are viewable only to the master looter. The price paid is equal to the next highest bidder of equal priority plus the minimum bid or the amount bid; whicher is lower.
  .col-md-6: img(src='https://dkp.acolytesgaming.org/data/files/primer/img/bid3.png')
  
h2: a(href='#bid-priority') Bid Priority

strong Bids are considered in the following order:
ol
  li Main MAIN-SPEC
  li Alt MAIN-SPEC
  li Main OFF-SPEC
  li Alt OFF-SPEC
  li All Ranks PVP/FARMING/MISC
  li All Ranks UNCONTESTED-ONLY
  
h2: a(href='#minimum-bids') Minimum Bids

strong Minimum bids are as follows:
ul
  li Current Tier - Weapons* & Trinkets 20 DKP, All other slots 10 DKP
  li Previous Tier - Weapons* & Trinkets 10 DKP, All other slots 5 DKP
  li OFF-SPEC Gear minimums are half of MAIN-SPEC but cannot go lower than 5 DKP

p <i>* Melee & Casters pay a 10 DKP minimum for ranged weapons. Hunters pay a 10 DKP minimum for Melee Weapons.</i>

h2: a(href='#group-loot') Group Loot Rules

p If the Master Looter in a DKP raid decides that looting would be more efficient via Group Loot over Master Loot they may choose to set the loot type to Group Loot. When this happens there is only 1 rule to follow to avoid confusion: You may safely select <b>GREED</b> for any loot window that appears for you. Anyone who has a specific task to need on an item (such as scarabs/idols/etc) will do so and it will override your greed. The best way to stay out of trouble in group loot is to greed on everything.

h2: a(href='#legendaries') Legendary Loot

table.table.table-bordered
  tr
    td Thunderfury, Blessed Blade of the Windseeker
    td Bindings, individually, cost no DKP, but upon receiving the second binding and creating the final weapon the player will be charged 100 DKP. Main Tanks are expected to supply at least 1/3 of the Arcanite.
  tr
    td Sulfuras, Hand of Ragnaros
    td The Eye of Ragnaros will be awarded by random roll among players willing to provide the Arcanite required. Other materials may be provided from the guild bank, but will not be until all arcanite has been acquired.
  tr
    td Atiesh, Greatstaff of the Guardian
    td The recipient will be charged 100 DKP upon receipt of the first Splinter of Atiesh. If the recipient misses 3 splinter drops due to absence without notice they will be removed from the Atiesh priority without refund.

h2: a(href='#raider-rank') Raider Rank

p To become a Raider you must talk to your Class Lead (or an officer if your class is currently without a lead). They will ask you some questions and give you feedback if there are things they would like for you to work on before becoming a Raider.

p Additionally you must meet a simple attendance requirement of earning 80 DKP within 30 days to qualify for Raider Rank. This is to ensure a good personality fit for raiding with Acolytes.
  
h2: a(href='#raiding-alts') Raiding Alts

p All alts must be level 60 to attend raids. Additionally, alts must meet the previous tier's raid ready requirements for any raid they attend.

p Players with exceptionally geared alts may apply with the appropriate class lead to have their alts approved as Raid-Ready. These requirements are more stringent than those needed merely to attend raids but will allow people to earn main DKP while playing their alts in previous tier content. Raid-Ready Alts will still be treated as alts for loot priority, and will still spend alt DKP. You cannot claim Main DKP twice in a given week for any raid zone.

h2: a(href='#main-changing') Main Changing

p First and foremost we want our members to enjoy their time in raid. So if a player enjoys playing their alt more than their main we are willing to accomodate that main change based on our current needs within the guild/raid team.

p Main changes can only be made every 90 days and must be in good faith. If we suspect the change is to gain an advantage vs other bidders we will not authorize it.

table.table.table-bordered
  tr
    td 1st Main Change
    td 100 DKP
  tr
    td 2nd Main Change
    td 200 DKP
  tr
    td 3rd Main Change
    td 300 DKP
  tr
    td etc...
    td  
    
h2: a(href='#inactivity') Inactivity

p If a player goes <b>inactive without notice for more than 30 days</b> they will <b>lose 20% of their DKP per month</b> (or fraction thereof) they go without logging in.  After 6 months of inactivity, their DKP will be reset to 0.

p If a player goes <b>inactive with notice for more than 60 days</b> they will <b>lose 10% of their DKP per month</b> (or fraction thereof) they go without logging in.  After 12 months of inactivity, their DKP will be reset to 0.

p Regardless of any previous rank, all players must meet current criteria to regain Raider rank after an absence.

h2: a(href='#leaving-guild') Leaving Guild

p <i>Any individual who leaves the guild on their main for any length of time must re-apply and pass the standard trial period should they wish to return.</i>

p If a player leaves the guild, <b>with less than 7 days advance notice</b> to an officer/class leader, they <b>immediately forfeit all earned DKP</b>.  Should they choose to reapply they will begin at 0 DKP.

p If a player leaves the guild, <b>with 7 or more days notice</b> to an officer/class leader, they will <b>lose 20% of their total DKP per month</b> (or fraction thereof) that they are absent from the guild. After 5 months, their DKP will be reset to 0.
